### download 20News dataset

In [1]:
from sklearn.datasets import fetch_20newsgroups
data20 = fetch_20newsgroups(subset='all', shuffle=True, remove=('headers', 'footers', 'quotes'))
print(list(enumerate(data20.target_names)))

[(0, 'alt.atheism'), (1, 'comp.graphics'), (2, 'comp.os.ms-windows.misc'), (3, 'comp.sys.ibm.pc.hardware'), (4, 'comp.sys.mac.hardware'), (5, 'comp.windows.x'), (6, 'misc.forsale'), (7, 'rec.autos'), (8, 'rec.motorcycles'), (9, 'rec.sport.baseball'), (10, 'rec.sport.hockey'), (11, 'sci.crypt'), (12, 'sci.electronics'), (13, 'sci.med'), (14, 'sci.space'), (15, 'soc.religion.christian'), (16, 'talk.politics.guns'), (17, 'talk.politics.mideast'), (18, 'talk.politics.misc'), (19, 'talk.religion.misc')]

In [3]:
type(data20)

sklearn.utils.Bunch

In [4]:
import numpy as np
baseball = np.where(data20.target == 9)[0]
hockey = np.where(data20.target == 10)[0]

In [5]:
strings = [data20.data[i] for i in list(baseball) + list(hockey)]
target = [0 if data20.target[i] == 9 else 1 for i in list(baseball) + list(hockey)]

In [9]:
len(strings),len(target)

(1993, 1993)

In [11]:
import pandas as pd
df = pd.DataFrame({'strings':strings,
                  'target':target})

In [12]:
df.head()

                                             strings  target
0  \nBe patient. He has a sore shoulder from cras...       0
1  \n\n\nI don't buy this at all.  I think things...       0
2  \nYes, Ivan Rodriguez, last year.  Batted .260...       0
3  \n\n\nSandberg is not particulary known for hi...       0
4  \nWetteland is on the DL effective March 26 or...       0

In [13]:
df.to_csv('20News.csv')