### preprocess

In [1]:
import pandas as pd

df = {}
keys = ['data/train', 'data/test']
for k in keys :
    df[k] = pd.read_csv('' + k + '.csv', header=None)
    df[k] = df[k][df[k][0].isin([1, 3])]

In [2]:
from vectorizer import cleaner
for k in keys :
    texts = list(df[k][2])
    for i in range(len(texts)):
        texts[i] = cleaner(texts[i])
    df[k]['text'] = texts

In [3]:
for k in keys :
    df[k][0] = [1 if (x == 3) else 0 for x in list(df[k][0])]

In [5]:
import pandas as pd
df_texts = []
df_labels = []
df_exp_splits = []

for key in ['data/train', 'data/test'] :
    df_texts += list(df[key]['text'])
    df_labels += list(df[key][0])
    df_exp_splits += [key] * len(list(df[key]['text']))
    
df = pd.DataFrame({'text' : df_texts, 'label' : df_labels, 'exp_split' : df_exp_splits})
#df.to_csv('agnews_dataset.csv', index=False)

In [6]:
df.head()

                                                text  label   exp_split
0  reuters - short - sellers , wall street 's dwi...      1  data/train
1  reuters - private investment firm carlyle grou...      1  data/train
2  reuters - soaring crude prices plus worries\ab...      1  data/train
3  reuters - authorities have halted oil export\f...      1  data/train
4  afp - tearaway world oil prices , toppling rec...      1  data/train

In [8]:
train = df[df['exp_split']=='data/train']
train.head()

                                                text  label   exp_split
0  reuters - short - sellers , wall street 's dwi...      1  data/train
1  reuters - private investment firm carlyle grou...      1  data/train
2  reuters - soaring crude prices plus worries\ab...      1  data/train
3  reuters - authorities have halted oil export\f...      1  data/train
4  afp - tearaway world oil prices , toppling rec...      1  data/train

In [10]:
test = df[df['exp_split']=='data/test']
test.head()

                                                    text  label  exp_split
60000  unions representing workers at turner newall s...      1  data/test
60001  canadian press - vancouver ( cp ) - the sister...      0  data/test
60002  ap - the man who claims gov. james e. mcgreeve...      0  data/test
60003  najaf , iraq - explosions and gunfire rattled ...      0  data/test
60004  lourdes , france - a frail pope john paul ii ,...      0  data/test

In [18]:
train.drop(['exp_split'],axis=1).to_csv('Train.csv',index=False)

In [19]:
test.drop(['exp_split'],axis=1).to_csv('Test.csv',index=False)

In [20]:
len(train),len(test)

(60000, 3800)